body {
    padding: 20px;
}

.gallery {
    text-align: center;
}

.gallery img {
    /*width: 200px;*/
    margin: 10px;
}

.container {
    /*height: 100%;*/
}

.big-image {
    height: 600px;
}

.cartTable td {
    padding: 5px 15px;
}